{% extends "layout.njk" %}

{% block head %}

<link rel="stylesheet" href="/stylesheet.css">
    
<title>{{item.title}} - Foodfy</title>

{% endblock %}

{% block content %}


<div class="cards-recipe">
    <div class="card">
        <img src="{{item.image}}" alt="Imagem de {{item.title}}">
        <h1>{{item.title}}</h1>
        <h2>{{item.author}}</h2>

        <div id = "ingredients" class="topic">
                <h3>Ingredientes <a class="btn">ESCONDER</a></h3>
                <div  id="ops" class = "topic-content">
                    <ul>
                        {% for ingredient in item.ingredients%}
                        <li>{{ingredient}}</li>
                        {% endfor %}
                    </ul>
                </div>
        </div>

        <div id = "preparation" class="topic">
                <h3>Preparação <a class="btn1">ESCONDER</a></h3>
                <div id="ops1" class = "topic-content">
                    <ul>
                        {% for preparation in item.preparation%}
                        <li>{{preparation}}</li>
                        {% endfor %}
                    </ul>
                </div>
        </div> 

        <div id = "information" class="topic">
            <h3>Informações <a class="btn2">ESCONDER</a></h3>
            
            <div  id="ops2" class = "topic-content ">
                <p>{{item.information}}</p> 
            </div>
        </div>
  
    </div>
</div>

<script src="/script.js"></script>

{% endblock %}